.img-slider {
    height: 600px;
}

body {
    padding-top: 50px;
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.about-us {
    background-color: #f2f2f2;
}

.brace {
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto
}

.leaf-white {
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border:10px solid white;
    background-color: white;
}

.leaf-gray {
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border:10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.contact {
    background-color: #f2f2f2;
}